*.idea
*Intermediate*/
*.vscode
*DerivedDataCache*/
*Binaries*/
*Saved/Select*
*Saved/Logs/
*Saved/Autosaves
*Saved/StagedBuilds/
*Saved/MaterialStats*
*Build*
*Saved/Cooked*
*Saved/Config/CrashReportClient
*Saved/Crashes/
*Saved/Temp/*
*Platforms/

*.vs/
*.vsconfig
*demo.sln
